<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>undo-manager Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="undo-manager.html">
</head>
<body unresolved>

  <p>Examples of using <code>&lt;undo-manager></code>:</p>

  <ul>
    <li><a href="contenteditable.html">contentEditable</a></li>
    <li><a href="circles.html">Circles</a></li>
    <li><a href="todos.html">TodoMVC</a></li>
    <li><a href="googlenow.html">Google Now cards</a></li>
  </ul>

</body>
</html>
